<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" href="/assets/lib/jquery/flatpickr.min.css">        
    </th:block>
<body>
  <!-- ✅ layout의 content에 꽂힘 -->
  <section layout:fragment="content">
    <th:block th:replace="~{fragments/header :: menuHeader}" />
    <div class="sideContent"><!--side 없을 땐 .sideContent 없이 사용-->
      <div th:replace="~{components/side :: side}"></div>
        <div class="sideContentBox">
          <p class="sideContentBoxTitle">사용자 관리</p>
            <div class="filterBoxWrap mb-6">
              <div class="filterLeft">
                <div class="">

                </div>
                <button type="button" class="filterBtn lineBtn gray py-1-5 px-2 shadow-default text-md/6"><img src="/assets/images/icons/filter_dark.svg" alt="">필터</button>
                <button type="button" class="filterBtn lineBtn gray py-1-5 px-2 shadow-default text-md/6"><img src="/assets/images/icons/download_dark.svg" alt="">엑셀 다운로드</button>
              </div>
              <div class="filterRight h36Box">
                <p class="filterGubunText">가입일</p>
                <div th:replace="~{components/calendar :: calendarDay}"></div>
                <span class="filterGubunText">~</span>
                <div th:replace="~{components/calendar :: calendarDay}"></div>
                <div th:replace="~{components/search :: typingSearch}"></div>
              </div>
              
            </div>
            
            <div class="">
              <div th:replace="~{components/table :: componentTable('homeTable')}"></div>
              <div th:replace="~{components/pagination :: pagination('homeTablePagination')}"></div>
            </div>
            
            
        </div>
    </div>
  </section>

  <!-- ✅ 페이지별 스크립트: layout의 pageScripts 슬롯에 꽂힘 -->
  <th:block layout:fragment="pageScripts">
    <script src="/assets/js/admin/admin.js"></script>
    <script type="text/javascript" th:src="@{/assets/lib/jquery/flatpickr.js}"></script>
    <script type="text/javascript" th:src="@{/assets/lib/jquery/flatpickr_ko.js}"></script>
  </th:block>

</body>
</html>
