<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" href="/assets/lib/jquery/flatpickr.min.css">        
    </th:block>
<body>
  <!-- ✅ layout의 content에 꽂힘 -->
  <section layout:fragment="content">
    <th:block th:replace="~{fragments/header :: menuHeader}" />
    <div class="sideContent"><!--side 없을 땐 .sideContent 없이 사용-->
      <div th:replace="~{components/side :: side}"></div>
        <div class="sideContentBox">
          <p class="sideContentBoxTitle">사용자 관리</p>

            <div th:replace="~{components/search :: typingSearch}"></div>
            <div th:replace="~{components/table :: valueTable}"></div>
            <div class="w-[480px]">
              <div th:replace="~{components/table :: adminTable('homeTable')}"></div>
              <div th:replace="~{components/pagination :: pagination('homeTablePagination')}"></div>
              <div th:replace="~{components/table :: adminTable('homeTable2')}"></div>
              <div th:replace="~{components/pagination :: pagination('homeTable2Pagination')}"></div>
            </div>
            
            <div th:replace="~{components/calendar :: calendarDay}"></div>
            <div th:replace="~{components/calendar :: calendarDay}"></div>
        </div>
    </div>
  </section>

  <!-- ✅ 페이지별 스크립트: layout의 pageScripts 슬롯에 꽂힘 -->
  <th:block layout:fragment="pageScripts">
    <script src="/assets/js/admin/admin.js"></script>
    <script type="text/javascript" th:src="@{/assets/lib/jquery/flatpickr.js}"></script>
    <script type="text/javascript" th:src="@{/assets/lib/jquery/flatpickr_ko.js}"></script>
  </th:block>

</body>
</html>
