<!-- 타이핑 검색 -->
<div th:fragment="typingSearch">
    <div class="c-searchbox">
        <div class="searchInput" data-search="typing">
            <div class="searchIcon">
                <img src="/assets/images/icons/search_gray.svg" alt="검색">
                 <!-- <img src="/assets/images/logo/logo_symbol.svg" alt="검색"> -->
            </div>
            <!-- placeholder 동적 변경 ## 각 해당 페이지에서 변경 -->
            <input type="text" data-search-input class="inputCustom" placeholder="">
            <button type="button" data-search-clear class="searchBtn hidden">
                <img src="/assets/images/icons/remove_icon.svg" alt="지우기">
            </button>
        </div>
        <div class="searchList hidden" data-search-list>
            <ul>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>31</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>32</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
                <li data-search-item>
                    <p>서울 영등포구 <span class="keyword">은행로</span>30</p>
                    <p>서울 영등포구 여의도동</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 클릭 검색 -->
<div th:fragment="clickSearch">
    <div class="c-clickSearchbox">
        
    </div>
</div>
