<div th:fragment="side">
    <div class="c-side">
        <div class="c-sideContent">
            <p class="sideTitle">관리자 메뉴</p>
            <ul class="sideMenuList">
                <li class="sideMenuItem active">
                    <div class="sideMenuItemIcon">
                        <img src="/assets/images/icons/side_menu_icon01_off.svg" alt="">
                    </div>
                    <a href="/admin/admin">메뉴 1</a>
                </li>
                <li class="sideMenuItem">
                    <div class="sideMenuItemIcon">
                        <img src="/assets/images/icons/side_menu_icon02_off.svg" alt="">
                    </div>
                    <a href="/admin/admin">메뉴 2</a>
                </li>
                <li class="sideMenuItem">
                    <div class="sideMenuItemIcon">
                        <img src="/assets/images/icons/side_menu_icon01_off.svg" alt="">
                    </div>
                    <a href="/admin/admin">메뉴 3</a>
                </li>
            </ul>
        </div>
    </div>
</div>