<div th:fragment="valueTable">
    <div class="tableDataDom">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>번호</th>
                    <th>번호</th>
                    <th>번호</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="adminTable(tableId)">
    <div class="tableDataDom">
      <table data-admin-table data-enhance-table th:attr="id=${tableId}">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
</div>