<div th:fragment="table">
    <div class="tableDataDom">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>번호</th>
                    <th>번호</th>
                    <th>번호</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
                <tr>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                    <td>번호</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>