/*
  @layer components → 재사용 가능한 "UI 패턴" (의미 있음)
  @layer utilities → 단순한 속성 단위 (의미 없음)
*/

/*반응형 max-__:__ */

/*공통 사용*/
@layer components {
  .skeleton-ui p, .skeleton-ui span, .skeleton-ui li, .skeleton-ui input, .skeleton-ui select, .skeleton-ui .chartBox, .skeleton-ui .reportTable {@apply h-auto bg-[#e2e8f0] rounded-lg animate-[pulse_1.5s_ease-in-out_infinite]}
  p, span, a {@apply px-0-5}
  input {@apply outline-none}
  ::-webkit-scrollbar{@apply w-2-5}
  ::-webkit-scrollbar-track{@apply bg-transparent}
  ::-webkit-scrollbar-thumb{@apply bg-zinc-800/30 rounded-full border-2 border-solid border-transparent bg-clip-padding}
  li {@apply cursor-pointer}
}

/* form */
@layer components {
  .inputLabel {@apply flex justify-start items-center text-zinc-500 text-sm/6 font-medium mb-2}
  .inputLabel span {@apply text-zinc-400}
  .inputCustom {@apply w-full rounded-lg border-solid border-1 text-zinc-950 text-sm/5 font-normal border-zinc-800/15 h-12 px-3 shadow-2xs}
  .inputCustom:focus {@apply !border-primary-500 !outline-none}
  .inputCustom:hover {@apply border-primary-500/30 outline-none}
  .inputCustom.disabled {@apply border-zinc-800 border-opacity-10 bg-zinc-800/8 pointer-events-none}
  input {@apply outline-none}
  input[type="checkbox"], input[type="radio"] {@apply hidden}
  input[type="file"]{@apply hidden}  
  .checkboxCustom[type='checkbox'] + label{@apply text-sm/5 font-medium text-zinc-600 pl-8 relative block}
  .checkboxCustom[type='checkbox'] + label:hover{@apply cursor-pointer}
  .checkboxCustom[type='checkbox'] + label:before {@apply content-[''] absolute left-2 top-1/2 w-4 h-4 border-solid border-1 border-zinc-500/15 rounded-sm bg-white -translate-y-1/2}
  .checkboxCustom[type='checkbox'] + label:hover:before {@apply border-zinc-800/25}
  .checkboxCustom[type='checkbox']:checked + label:before {@apply bg-[var(--main-color)] bg-[url('/assets/images/icons/checkbox_white_check.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustom[type='checkbox']:checked + label:hover:before {@apply bg-[var(--secondary-color)] bg-[url('/assets/images/icons/checkbox_white_check.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox'] + label{@apply text-sm/5 font-medium text-zinc-600 pl-8 relative}
  .checkboxCustomArrow[type='checkbox'] + label:hover{@apply cursor-pointer}
  .checkboxCustomArrow[type='checkbox'] + label:before {@apply content-[''] absolute left-0-5 top-1/2 w-4 h-4 rounded-sm -translate-y-1/2 bg-transparent bg-[url('/assets/images/icons/check_gray.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox'] + label:hover:before {@apply bg-[rgba(39,39,42,0.04)] bg-[url('/assets/images/icons/check_gray.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox']:checked + label:before {@apply bg-transparent bg-[url('/assets/images/icons/check_primary.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox']:checked + label:hover:before {@apply bg-[rgba(39,39,42,0.04)] bg-[url('/assets/images/icons/check_primary.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .formCheck .inputLabel{@apply relative inline-block}
  .formCheck .inputLabel:after{@apply content-['*'] absolute -right-[12px] top-1/2 -translate-y-1/2 text-primary-600}
  .certTime {@apply text-sm/5 text-primary-600 font-normal absolute right-3 top-1/2 -translate-y-1/2}
  .passwordInfoBox {@apply absolute left-0 top-11 !p-3 !rounded-md border border-solid border-zinc-800/15 w-full z-9 bg-white}
  .passwordCheckList li{@apply flex justify-start items-center text-xs/4 text-red-700 pb-1-5}
  .passwordCheckIcon {@apply w-[12px] h-[12px] mr-1 bg-[url('/assets/images/icons/close_red.svg')] bg-no-repeat bg-center bg-[length:12px_12px]}
  .passwordCheckList li.success {@apply text-green-700}
  .passwordCheckList li.success .passwordCheckIcon{@apply bg-[url('/assets/images/icons/check_success.svg')] bg-no-repeat bg-center bg-[length:12px_12px]}
  .inputError input {@apply border-red-700}
  .inputError input:hover, .inputError input:focus {@apply border-solid border-1 !border-destructive}
  .errorText {@apply text-sm/4 text-red-700 font-medium pt-2 hidden}
  .inputError .errorText {@apply block}
  .passwordToggle {@apply w-5 h-5 absolute top-1/2 right-2 -translate-y-1/2 bg-no-repeat bg-contain cursor-pointer bg-[url('/assets/images/icons/password_on_gray.svg')] hover:bg-[url('/assets/images/icons/password_on_dark.svg')]}
  .passwordToggle.active {@apply bg-[url('/assets/images/icons/password_off_gray.svg')] hover:bg-[url('/assets/images/icons/password_off_dark.svg')]}
  .dotList li {@apply relative text-xs/4 text-zinc-600 pl-3 mb-2}
  .dotList li:last-child{@apply mb-0}
  .dotList li:after {@apply absolute top-2 left-0-5 w-0-5 h-0-5 rounded-full bg-zinc-600}
  .bannerDotList li:after {@apply bg-white}
  .bannerDotList li {@apply !text-xs/5 !text-white !mb-1}
  .orderHistoryBtn {@apply justify-end w-full underline underline-offset-[3px]}
  .no-underline {@apply no-underline pointer-events-none}
  .no-underline:hover {@apply cursor-default}   
  .fileBtn {@apply ml-2 w-[85px] h-10 border border-solid border-zinc-800/15 !inline-flex justify-center items-center rounded-md whitespace-nowrap text-md/6 font-medium cursor-pointer shadow-default hover:bg-zinc-500/8}
  .fileBtn:after {@apply !hidden}
}

/* modal */
@layer components {}

/* button */
@layer components {
  button {@apply outline-none flex items-center justify-center gap-1 cursor-pointer}
  button.disabled {@apply !bg-zinc-800/8 !text-zinc-950/30 pointer-events-none}
  .bgBtn {@apply rounded-md text-white text-md/6 font-medium}
  .bgBtn.primary {@apply bg-primary-600 hover:bg-primary-500}
  .bgBtn.secondary {@apply bg-cyan-600 hover:bg-cyan-500}
  .bgBtn.warning {@apply bg-red-700 hover:bg-red-600}
  .bgBtn.gray {@apply text-zinc-950 bg-zinc-800/4 hover:bg-zinc-500/8}
  .lineBtn {@apply rounded-md text-zinc-950 text-md/6 font-medium bg-white border border-solid}
  .lineBtn.primary {@apply border-primary-500/60 hover:bg-zinc-50}
  .lineBtn.secondary {@apply border-cyan-500/60 hover:bg-cyan-50}
  .lineBtn.warning {@apply border-red-500/15 hover:bg-red-50}
  .lineBtn.gray {@apply border-zinc-500/15 hover:bg-zinc-50}
}

/* pagination, calendar, search */
@layer components {
  /*pagination*/
  .paginationWrap {@apply m-auto;}
  .paginationWrap ul{@apply flex justify-center items-center}
  .paginationWrap ul li {@apply relative mx-1 w-[26px] h-[26px] rounded-sm border-none cursor-pointer text-xs/4 font-medium text-zinc-600 flex justify-center items-center hover:bg-zinc-800/4}
  .paginationWrap ul li.active {@apply bg-zinc-800/4 text-zinc-950}
  .paginationWrap ul li.disabled {@apply pointer-events-none opacity-20}
  .paginationWrap .prevAll:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rotate-180 w-4 h-4;background:url('/assets/images/icons/pagination_arrow_all.svg') no-repeat center center / 16px 16px}
  .paginationWrap .prev:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rotate-180 w-4 h-4;background:url('/assets/images/icons/pagination_arrow.svg') no-repeat center center / 16px 16px}
  .paginationWrap .next:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-4 h-4;background:url('/assets/images/icons/pagination_arrow.svg') no-repeat center center / 16px 16px}
  .paginationWrap .nextAll:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-4 h-4;background:url('/assets/images/icons/pagination_arrow_all.svg') no-repeat center center / 16px 16px}

  /*search*/
  .c-searchbox {@apply relative}
  .searchInput {@apply relative}
  .searchIcon {@apply size-6 absolute left-3 top-1/2 -translate-y-1/2}
  .searchInput .inputCustom {@apply pl-[46px]}
  .searchInput .searchBtn {@apply absolute right-3 top-1/2 -translate-y-1/2}
  .searchList {@apply absolute left-0 top-[52px] w-full bg-white rounded-lg border border-solid border-zinc-800/25 py-2 z-[2] max-h-[316px] overflow-y-auto}
  .searchList ul {@apply h-auto overflow-hidden}
  .searchList ul li {@apply px-4 py-2 text-sm/5 hover:bg-zinc-50}
  .searchList ul li p:first-child {@apply text-zinc-950}
  .searchList ul li p:last-child {@apply text-zinc-600}
  .searchList ul li p span.keyword {@apply text-primary-600}

  /*calendar*/
  #calendarDay {@apply w-full h-10 rounded-md shadow-2xs border-1 border-solid border-zinc-800/15}
  .flatpickr-calendar {@apply !py-4 !px-3 !rounded-md !border-zinc-800/15 !w-fit}
  .flatpickr-weekday {@apply !text-xs/4 !font-medium !text-zinc-500 py-1}
  .flatpickr-day {@apply !text-sm/5 !font-medium !text-zinc-950 !size-8 !rounded-sm !items-center !inline-flex !border-none !px-0 !mb-2 hover:!bg-primary-500 hover:!text-white focus:!bg-primary-600 focus:!text-white}
  .flatpickr-day.today {@apply !bg-zinc-800/8 !border-none hover:!bg-primary-600 hover:!text-white focus:!bg-primary-600 focus:!text-white}
  .flatpickr-day.selected {@apply !bg-primary-600 !text-white !border-none}
  .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay {@apply !opacity-30 pointer-events-none}
  .flatpickr-day:nth-child(7n) {@apply !text-blue-500 hover:!text-white}
  .flatpickr-day:nth-child(7n).selected {@apply !text-white}
  .flatpickr-day:nth-child(7n+1) {@apply !text-red-500 hover:!text-white}
  .flatpickr-day:nth-child(7n+1).selected {@apply !text-white}
}

/*table*/
@layer components {
  .tableDataDom {@apply overflow-auto pb-1-5;}
  .tableDataDom table {@apply w-full text-sm/5 text-center table-auto whitespace-nowrap}
  .tableDataDom tr {@apply border-b-1 border-solid border-zinc-800/8 hover:bg-[rgba(39,39,42,0.02)]}
  .tableDataDom tr:last-child {@apply border-b-0}
  .tableDataDom thead tr:hover{@apply bg-transparent}
  .tableDataDom th {@apply bg-zinc-50}
  .tableDataDom th:first-child {@apply text-left max-w-[220px]}
  .tableDataDom table th {@apply text-sm/5 text-zinc-500 py-2 px-3 font-semibold}
  .tableDataDom table td {@apply text-sm/5 font-normal text-zinc-700 py-2 px-3 cursor-pointer tabular-nums}
  .tableDataDom table td.sticky {@apply bg-white}
  .tableDataDom table td .iconBox {@apply rounded-sm mr-2}
  .tableScrollOn th.fixText {@apply bg-zinc-50}
  .tableScrollOn .fixText {@apply sticky left-0 z-1 bg-white}
  .tableScrollOn .fixText:after{@apply content-[''] absolute top-0 -right-3 w-3 h-full block bg-[linear-gradient(270deg,transparent,rgba(0,0,0,0.06)_100%)]}
}

/* map */
@layer components {
  /* 지도 마커(네이버 커스텀 마커 content용) */
  .selectionMarkerWrapper {@apply relative -translate-x-1/2 -translate-y-full}
  .mapMarkerOnMap {@apply static top-auto left-auto}
}

/* side */
@layer components {
  .sideContent {@apply flex justify-start items-start}
  .sideContentBox {@apply w-full}
  .c-side {@apply min-w-[268px] w-[268px] h-full px-6 }
  .c-sideContent {@apply w-full }
  .sideTitle {@apply text-zinc-500 text-md/6 font-bold mb-6}
  .sideMenuList {@apply h-auto overflow-hidden}
  .sideMenuItem {@apply w-full px-3 py-2 rounded-md flex justify-start items-center gap-1.5 hover:bg-zinc-800/4}
  .sideMenuItem.active {@apply !bg-zinc-800/4}
  .sideMenuItemIcon {@apply size-4-5}
  .sideMenuItem a {@apply text-md/6 font-medium text-zinc-600 hover:text-zinc-950}
  .sideMenuItem.active a {@apply !text-zinc-950}
}