/*
  @layer components → 재사용 가능한 "UI 패턴" (의미 있음)
  @layer utilities → 단순한 속성 단위 (의미 없음)
*/

/*반응형 max-__:__ */

/*공통 사용*/
@layer components {
  .skeleton-ui p, .skeleton-ui span, .skeleton-ui li, .skeleton-ui input, .skeleton-ui select, .skeleton-ui .chartBox, .skeleton-ui .reportTable {@apply h-auto bg-[#e2e8f0] rounded-lg animate-[pulse_1.5s_ease-in-out_infinite]}
  p, span, a {@apply px-0-5}
  input {@apply outline-none}
  ::-webkit-scrollbar{@apply w-2-5}
  ::-webkit-scrollbar-track{@apply bg-transparent}
  ::-webkit-scrollbar-thumb{@apply bg-zinc-800/30 rounded-full border-2 border-solid border-transparent bg-clip-padding}
  li {@apply cursor-pointer}
  .textCenter {@apply text-center}
  .textRight {@apply text-right}
  .textLeft {@apply text-left}
}

/* form */
@layer components {
  .inputLabel {@apply flex justify-start items-center text-zinc-500 text-sm/6 font-medium mb-2}
  .inputLabel span {@apply text-zinc-400}
  .inputCustom {@apply w-full rounded-lg border-solid border-1 text-zinc-950 text-sm/5 font-normal border-zinc-800/15 h-12 px-3 shadow-2xs}
  .inputCustom:focus {@apply !border-primary-500 !outline-none}
  .inputCustom:hover {@apply border-primary-500/30 outline-none}
  .inputCustom.disabled {@apply border-zinc-800 border-opacity-10 bg-zinc-800/8 pointer-events-none}
  input {@apply outline-none}
  input[type="checkbox"], input[type="radio"] {@apply hidden}
  input[type="file"]{@apply hidden}  
  .checkboxCustom[type='checkbox'] + label{@apply text-sm/5 font-medium text-zinc-600 pl-8 relative block}
  .checkboxCustom[type='checkbox'] + label:hover{@apply cursor-pointer}
  .checkboxCustom[type='checkbox'] + label:before {@apply content-[''] absolute left-2 top-1/2 w-4 h-4 border-solid border-1 border-zinc-500/15 rounded-sm bg-white -translate-y-1/2}
  .checkboxCustom[type='checkbox'] + label:hover:before {@apply border-zinc-800/25}
  .checkboxCustom[type='checkbox']:checked + label:before {@apply bg-[var(--main-color)] bg-[url('/assets/images/icons/checkbox_white_check.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustom[type='checkbox']:checked + label:hover:before {@apply bg-[var(--secondary-color)] bg-[url('/assets/images/icons/checkbox_white_check.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox'] + label{@apply text-sm/5 font-medium text-zinc-600 pl-8 relative}
  .checkboxCustomArrow[type='checkbox'] + label:hover{@apply cursor-pointer}
  .checkboxCustomArrow[type='checkbox'] + label:before {@apply content-[''] absolute left-0-5 top-1/2 w-4 h-4 rounded-sm -translate-y-1/2 bg-transparent bg-[url('/assets/images/icons/check_gray.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox'] + label:hover:before {@apply bg-[rgba(39,39,42,0.04)] bg-[url('/assets/images/icons/check_gray.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox']:checked + label:before {@apply bg-transparent bg-[url('/assets/images/icons/check_primary.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .checkboxCustomArrow[type='checkbox']:checked + label:hover:before {@apply bg-[rgba(39,39,42,0.04)] bg-[url('/assets/images/icons/check_primary.svg')] bg-no-repeat bg-center bg-[length:14px_14px]}
  .formCheck .inputLabel{@apply relative inline-block}
  .formCheck .inputLabel:after{@apply content-['*'] absolute -right-[12px] top-1/2 -translate-y-1/2 text-primary-600}
  .certTime {@apply text-sm/5 text-primary-600 font-normal absolute right-3 top-1/2 -translate-y-1/2}
  .passwordInfoBox {@apply absolute left-0 top-11 !p-3 !rounded-md border border-solid border-zinc-800/15 w-full z-9 bg-white}
  .passwordCheckList li{@apply flex justify-start items-center text-xs/4 text-red-700 pb-1-5}
  .passwordCheckIcon {@apply w-[12px] h-[12px] mr-1 bg-[url('/assets/images/icons/close_red.svg')] bg-no-repeat bg-center bg-[length:12px_12px]}
  .passwordCheckList li.success {@apply text-green-700}
  .passwordCheckList li.success .passwordCheckIcon{@apply bg-[url('/assets/images/icons/check_success.svg')] bg-no-repeat bg-center bg-[length:12px_12px]}
  .inputError input {@apply border-red-700}
  .inputError input:hover, .inputError input:focus {@apply border-solid border-1 !border-destructive}
  .errorText {@apply text-sm/4 text-red-700 font-medium pt-2 hidden}
  .inputError .errorText {@apply block}
  .passwordToggle {@apply w-5 h-5 absolute top-1/2 right-2 -translate-y-1/2 bg-no-repeat bg-contain cursor-pointer bg-[url('/assets/images/icons/password_on_gray.svg')] hover:bg-[url('/assets/images/icons/password_on_dark.svg')]}
  .passwordToggle.active {@apply bg-[url('/assets/images/icons/password_off_gray.svg')] hover:bg-[url('/assets/images/icons/password_off_dark.svg')]}
  .dotList li {@apply relative text-xs/4 text-zinc-600 pl-3 mb-2}
  .dotList li:last-child{@apply mb-0}
  .dotList li:after {@apply absolute top-2 left-0-5 w-0-5 h-0-5 rounded-full bg-zinc-600}
  .bannerDotList li:after {@apply bg-white}
  .bannerDotList li {@apply !text-xs/5 !text-white !mb-1}
  .orderHistoryBtn {@apply justify-end w-full underline underline-offset-[3px]}
  .no-underline {@apply no-underline pointer-events-none}
  .no-underline:hover {@apply cursor-default}   
  .fileBtn {@apply ml-2 w-[85px] h-10 border border-solid border-zinc-800/15 !inline-flex justify-center items-center rounded-md whitespace-nowrap text-md/6 font-medium cursor-pointer shadow-default hover:bg-zinc-500/8}
  .fileBtn:after {@apply !hidden}
}

/* modal */
@layer components {}

/* button */
@layer components {
  button {@apply outline-none flex items-center justify-center gap-1 cursor-pointer}
  button.disabled {@apply !bg-zinc-800/8 !text-zinc-950/30 pointer-events-none}
  .bgBtn {@apply rounded-md text-white text-md/6 font-medium}
  .bgBtn.primary {@apply bg-primary-600 hover:bg-primary-500}
  .bgBtn.secondary {@apply bg-cyan-600 hover:bg-cyan-500}
  .bgBtn.warning {@apply bg-red-700 hover:bg-red-600}
  .bgBtn.gray {@apply text-zinc-950 bg-zinc-800/4 hover:bg-zinc-500/8}
  .bgBtn.black {@apply text-white bg-zinc-950 hover:bg-zinc-800}
  .lineBtn {@apply rounded-md text-zinc-950 text-md/6 font-medium bg-white border border-solid}
  .lineBtn.primary {@apply border-primary-500/60 hover:bg-zinc-50}
  .lineBtn.secondary {@apply border-cyan-500/60 hover:bg-cyan-50}
  .lineBtn.warning {@apply border-red-500/15 hover:bg-red-50}
  .lineBtn.gray {@apply border-zinc-500/15 hover:bg-zinc-50}
  .lineBtn.black {@apply border-zinc-950/15 hover:bg-zinc-50}
  .toggleBtn {@apply w-[42px] h-6 rounded-full bg-zinc-200 relative m-auto}
  .toggleBtn:after {@apply content-[''] block absolute top-[3px] left-[3px] size-4-5 rounded-full bg-white shadow-sm duration-300}
  .toggleBtn.active {@apply bg-green-500}
  .toggleBtn.active:after {@apply left-[21px] duration-300}
}

/* pagination, calendar, search */
@layer components {
  /*pagination*/
  .paginationWrap {@apply m-auto;}
  .paginationWrap ul{@apply flex justify-center items-center}
  .paginationWrap ul li {@apply relative mx-1 w-[26px] h-[26px] rounded-sm border-none cursor-pointer text-xs/4 font-medium text-zinc-600 flex justify-center items-center hover:bg-zinc-800/4}
  .paginationWrap ul li.active {@apply bg-zinc-800/4 text-zinc-950}
  .paginationWrap ul li.disabled {@apply pointer-events-none opacity-20}
  .paginationWrap .prevAll:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rotate-180 w-4 h-4;background:url('/assets/images/icons/pagination_arrow_all.svg') no-repeat center center / 16px 16px}
  .paginationWrap .prev:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rotate-180 w-4 h-4;background:url('/assets/images/icons/pagination_arrow.svg') no-repeat center center / 16px 16px}
  .paginationWrap .next:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-4 h-4;background:url('/assets/images/icons/pagination_arrow.svg') no-repeat center center / 16px 16px}
  .paginationWrap .nextAll:after {@apply content-[''] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-4 h-4;background:url('/assets/images/icons/pagination_arrow_all.svg') no-repeat center center / 16px 16px}

  /*search*/
  .c-searchbox {@apply relative}
  .searchInput {@apply relative}
  .searchIcon {@apply size-6 absolute left-3 top-1/2 -translate-y-1/2 flex justify-center items-center}
  .searchInput .inputCustom {@apply pl-[46px]}
  .searchInput .searchBtn {@apply absolute right-3 top-1/2 -translate-y-1/2}
  .searchList {@apply absolute left-0 top-[52px] w-full bg-white rounded-lg border border-solid border-zinc-800/25 py-2 z-[2] max-h-[316px] overflow-y-auto}
  .searchList ul {@apply h-auto overflow-hidden}
  .searchList ul li {@apply px-4 py-2 text-sm/5 hover:bg-zinc-50}
  .searchList ul li p:first-child {@apply text-zinc-950}
  .searchList ul li p:last-child {@apply text-zinc-600}
  .searchList ul li p span.keyword {@apply text-primary-600}

  /*calendar*/
  #calendarDay {@apply hidden}
  .calendarInput {@apply w-full h-10 rounded-md shadow-2xs border-1 border-solid border-zinc-800/15 pl-10 text-md/6 bg-[url('/assets/images/icons/calendar_icon_off.svg')] bg-no-repeat bg-[center_left_12px] bg-[length:20px_20px]}
  .flatpickr-calendar {@apply !py-4 !px-3 !rounded-md !border-zinc-800/15 !w-fit}
  .flatpickr-weekdays {@apply !h-6 !mb-2}
  .flatpickr-weekday {@apply !text-xs/4 !font-medium !text-zinc-500 py-1}
  .flatpickr-day {@apply !text-sm/5 !font-medium !text-zinc-950 !size-8 !rounded-sm !items-center !inline-flex !border-none !px-0 !mb-2 hover:!bg-primary-500 hover:!text-white focus:!bg-primary-600 focus:!text-white}
  .flatpickr-day.today {@apply !bg-zinc-800/8 !border-none hover:!bg-primary-600 hover:!text-white focus:!bg-primary-600 focus:!text-white}
  .flatpickr-day.selected {@apply !bg-primary-600 !text-white !border-none}
  .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay {@apply !opacity-30 pointer-events-none}
  .flatpickr-day:nth-child(7n) {@apply !text-blue-500 hover:!text-white}
  .flatpickr-day:nth-child(7n).selected {@apply !text-white}
  .flatpickr-day:nth-child(7n+1) {@apply !text-red-500 hover:!text-white}
  .flatpickr-day:nth-child(7n+1).selected {@apply !text-white}
  .flatpickr-prev-month, .flatpickr-next-month {@apply !size-7 !top-4 bg-[url('/assets/images/icons/calendar_arrow.svg')] bg-no-repeat bg-center bg-[length:16px_16px]}
  .flatpickr-prev-month {@apply !left-5 rotate-90}
  .flatpickr-next-month {@apply !right-5 -rotate-90 }
  .flatpickr-prev-month svg, .flatpickr-next-month svg {@apply !hidden}
  .flatpickr-current-month {@apply !text-md/6 !font-semibold !text-zinc-950 !flex !justify-center !items-center !flex-row-reverse !pt-0}
  
}

/*table*/
@layer components {
  .tableDataDom {@apply overflow-auto pb-1-5;}
  .tableDataDom table {@apply w-full text-sm/5 text-center table-auto whitespace-nowrap}
  .tableDataDom tr {@apply border-b-1 border-solid border-zinc-800/8}
  .tableDataDom tr:last-child {@apply border-b-0}
  .tableDataDom thead tr:hover{@apply bg-transparent}
  .tableDataDom th {@apply bg-zinc-50}
  .tableDataDom table th {@apply text-sm/5 text-zinc-500 py-2 px-3 font-semibold}
  .tableDataDom table td {@apply text-sm/5 font-normal text-zinc-700 py-2 px-3 cursor-pointer tabular-nums}
  .tableDataDom table td.sticky {@apply bg-white}
  .tableDataDom table td .iconBox {@apply rounded-sm mr-2}
  .tableDataDom table td button {@apply m-auto text-sm/4 h-7}
  .tableScrollOn th.fixText {@apply bg-zinc-50}
  .tableScrollOn .fixText {@apply sticky left-0 z-1 bg-white}
  .tableScrollOn .fixText:after{@apply content-[''] absolute top-0 -right-3 w-3 h-full block bg-[linear-gradient(270deg,transparent,rgba(0,0,0,0.06)_100%)]}
  .sortIcon {@apply inline-flex size-4 ml-2 justify-center items-center}
  .sortIcon.default {@apply bg-[url('/assets/images/icons/sort_flow_default.svg')] bg-no-repeat bg-center bg-[length:16px_16px]}
  .sortIcon.asc {@apply bg-[url('/assets/images/icons/sort_flow_asc.svg')] bg-no-repeat bg-center bg-[length:16px_16px]}
  .sortIcon.desc {@apply bg-[url('/assets/images/icons/sort_flow_desc.svg')] bg-no-repeat bg-center bg-[length:16px_16px]}
  
}

/* map */
@layer components {
  /* 지도 마커(네이버 커스텀 마커 content용) */
  .selectionMarkerWrapper {@apply relative -translate-x-1/2 -translate-y-full}
  .mapMarkerOnMap {@apply static top-auto left-auto}
}


/* header */
@layer components {
  .header {@apply h-14 px-6 flex justify-start items-center w-full}
  .headerLogo {@apply w-[141px]}
  .headerMenuList {@apply flex justify-start items-center gap-4 ml-6}
  .headerMenuList li {@apply px-1-5 text-[17px]/6 font-semibold text-zinc-600 hover:text-zinc-950}
  .headerMenuList li.active {@apply !text-zinc-950}
  .headerNav, .headerUtils {@apply flex justify-start items-center}
  .headerUtils {@apply gap-4}
  .adminBtn {@apply px-2 py-1-5 h-9 shadow-default}
  .userBtn {@apply flex justify-start items-center gap-1 cursor-pointer}
  .userImg {@apply size-8 mr-1}
  .userName {@apply text-sm/5 font-semibold text-zinc-950}
  .userArrow {@apply size-4-5}
  .userMenu {@apply absolute top-[60px] right-6 min-w-[160px] w-[160px] bg-white rounded-lg shadow-lg z-9 border border-solid border-zinc-800/15 py-2}
  .userMenuList li {@apply flex justify-start items-center gap-2 text-sm/5 font-medium text-zinc-600 py-3 px-2 hover:bg-zinc-100 hover:text-zinc-950}
  .userMenuList li .userMenuIcon {@apply size-6 flex justify-center items-center}
  .userMenuList li .userMenuIcon img {@apply size-4}
  .userMenuList li.logout {@apply text-red-500 border-t-1 border-solid border-zinc-800/15 hover:text-red-500}  
}

/* side */
@layer components {
  .sideContent {@apply flex justify-start items-start}  
  .c-side {@apply min-w-[268px] w-[268px] h-full px-6 }
  .c-sideContent {@apply w-full }
  .sideTitle {@apply text-zinc-500 text-md/6 font-bold mb-6}
  .sideMenuList {@apply h-auto overflow-hidden}
  .sideMenuItem {@apply w-full px-3 py-2 rounded-md flex justify-start items-center gap-1.5 hover:bg-zinc-800/4}
  .sideMenuItem.active {@apply !bg-zinc-800/4}
  .sideMenuItemIcon {@apply size-4-5}
  .sideMenuItem a {@apply text-md/6 font-medium text-zinc-600 hover:text-zinc-950}
  .sideMenuItem.active a {@apply !text-zinc-950}
}

/* sideContentBox */
@layer components {
  .sideContentBox {@apply w-full pt-6 pr-6 h-[calc(100vh-56px)] overflow-y-auto}
  .sideContentBoxTitle {@apply text-zinc-950 text-xl/7 font-bold mb-4}
  .filterBoxWrap {@apply flex justify-between items-center}
  .filterLeft {@apply flex justify-start items-center gap-2}
  .filterRight {@apply flex justify-end items-center gap-2}
  .h36Box input {@apply !h-9}
  .filterGubunText {@apply text-md/6 text-zinc-500}
}

@layer components {
  .alertModal {@apply hidden fixed top-6 left-1/2 -translate-x-1/2 z-[102] rounded-md p-3 border border-solid justify-center items-center shadow-lg;animation: modalShow 4s forwards}
  .alertModal .alertIcon {@apply size-4 mr-2}
  .alertModal .alertText {@apply text-sm/5 font-medium}
  .alertModal.success {@apply flex bg-green-50 border-green-600/30}
  .alertModal.success .alertIcon{background:url('/assets/images/icons/success_icon_green.svg') no-repeat center center / 16px 16px}
  .alertModal.success .alertText {@apply text-green-700}
  .alertModal.fail {@apply flex bg-red-50 border-red-500/30}
  .alertModal.fail .alertIcon{background:url('/assets/images/icons/error_icon_red.svg') no-repeat center center / 16px 16px}
  .alertModal.fail .alertText {@apply text-red-700}
  .modalLayout {@apply fixed top-0 left-0 z-[99] w-full h-full hidden;}
  .modalLayout.active {@apply block}
  .modalInner {@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-[480px] z-10 max-h-[90vh] bg-white p-5 rounded-2xl border-1 border-solid border-zinc-800/15}
  .modalBg {@apply absolute top-0 left-0 w-full h-full bg-black opacity-15 cursor-pointer}
  .modalContent{@apply overflow-y-scroll }
  .modalContent::-webkit-scrollbar{@apply w-1 bg-transparent}
  .modalContent::-webkit-scrollbar-thumb{@apply bg-zinc-300 rounded-md cursor-pointer}
  .modalContent p {@apply text-sm/5 text-zinc-600 font-normal}
  .modalTitle{@apply text-lg/7 text-zinc-950 font-bold pb-1-5}
  .modalSubTitle{@apply text-sm/5 text-zinc-500 font-normal pb-4}
  .modalContText {@apply mb-4 p-2 bg-zinc-800/6 rounded-[2px] text-sm/5 font-medium text-zinc-950 }
  .modalClose{@apply absolute top-5 right-5 size-7 cursor-pointer flex justify-center items-center}
  .modalFooter {@apply flex justify-between items-center gap-2}
  .modalFooter button {@apply w-full h-9 text-md/6 font-medium}
}

@layer utilities {
  .badge {@apply rounded-sm px-1 py-0-5 text-sm/5 font-semibold inline-flex justify-center items-center}
}