<!--########################################################-->
<!--## 레이아웃 컴포넌트 ##-->
<!--########################################################-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!-- head 내용만 삽입 (meta/link/title) -->
  <th:block th:replace="~{fragments/head :: head}" />
  <th:block layout:fragment="pageCss"></th:block>
</head>

<body>
  <div class="wrap">  

    <!-- ✅ 페이지가 꽂힐 자리 -->
    <main layout:fragment="content"></main>
    
  </div>

  <!-- 공통 스크립트 -->
  <th:block th:replace="~{fragments/script :: script}" />
  <script src="/assets/js/components/layout.js"></script>

  <!-- ✅ 페이지별 스크립트 자리(추천) -->
  <th:block layout:fragment="pageScripts"></th:block>
</body>
</html>
