<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ============================== 헤드 설정 ============================== -->
    <th:block th:replace="~{fragments/head :: head}" />

    <!-- ============================== 페이지 전용 CSS 추가 ============================== -->
</head>

<body>
    <div class="wrap dashboardWrap">
        <div class="dashboardContent">
            <div class="dashTopWrap">
                <p class="dashTopTitle">가맹점 관리 대시보드</p>
                <p class="dashTopSubTxt">어제까지 매출액</p>
                <p class="dashTopSubTxtNum"><span>4,220,000</span> 원</p>
                <div class="dashTopContent">
                    <div class="">
                        <p class="dashTopValTit">지난달 12일</p>
                        <div class="dashTopValValBox">
                            <p class="dashTopValValTxt"><span>4,430,400</span>원</p>
                            <p class="dashTopValValPer down">-4.7%</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex justify-start items-center gap-0-5">
                            <p class="dashTopValTit">직전 3개월의 12일</p>
                            <div class="dashInfoBoxWrap">
                                <img src="/assets/images/icons/help_icon.svg" class="size-4" alt="">
                                <div class="dashInfoBox">
                                    <p class="">직전 3개월까지의 같은 기간 매출액을 평균으로 산정</p>
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="dashTopValValBox">
                            <p class="dashTopValValTxt"><span>77,474,430,400</span>원</p>
                            <p class="dashTopValValPer up">+1.7%</p>
                        </div>                        
                    </div>                          
                </div>
                <img src="/assets/images/content/dashboard_img.png" class="dashTopImg" alt="">              
                <div class="dashTopTabBox">
                    <div class="dashTopTab" onclick="window.location.href='/dashboard/franchiseList'">
                        <p class="">전체 가맹점 <br/>확인</p>
                        <img src="/assets/images/content/dashboard_tab_img01.png" alt="">
                    </div>
                    <div class="dashTopTab" onclick="window.location.href='/dashboard/salesCalendar'">
                        <p class="">매출 캘린더</p>
                        <img src="/assets/images/content/dashboard_tab_img02.png" alt="">
                    </div>
                </div>
            </div>
            <div class="dashContent">
                <div class="dashSection">
                    <div class="dashSectionTop">                        
                        <div class="flex justify-start items-center gap-0-5">
                            <p class="dashSectionTitle">매출 급등락 가맹점</p>
                            <div class="dashInfoBoxWrap">
                                <img src="/assets/images/icons/help_icon.svg" class="size-4" alt="">
                                <div class="dashInfoBox">
                                    <p class="">급등: 전월 대비 +20% 이상 증가<br/>
                                        급락: 전월 대비 –20% 이상 감소</p>
                                </div>
                            </div>                            
                        </div>
                        
                        <p class="dashSectionSubTxt">전월기준</p>
                    </div> 
                    <div class="flex justify-between items-center gap-2 max-xs:flex-col">
                        <div class="w-1/2 max-xs:w-full">
                            <p class="dashSectionSubTxt">증가 금액</p>
                            <p class="dashSectionValTxt text-rose-500"><span>1,056,000</span>원</p>
                        </div>
                        <div class="w-1/2 max-xs:w-full">
                            <p class="dashSectionSubTxt">감소 금액</p>
                            <p class="dashSectionValTxt text-blue-500"><span>764,000</span>원</p>
                        </div>
                    </div>                    
                    <button type="button" onclick="window.location.href='/dashboard/salesSurge'" class="grayLineBtn w-full text-sm/5 font-medium h-10 mt-6 rounded-full shadow-default">상세 보기</button>
                </div>
                <div class="flex justify-between items-stretch gap-5 max-md:flex-col mb-5">
                    <div class="dashSection w-1/2 mb-0 max-md:w-full">
                        <div class="dashSectionTop">
                            <p class="dashSectionTitle">요일별 매출 비중</p>    
                            <p class="dashSectionSubTxt">전월기준</p>
                        </div>
                        <div class="chartBox h-[160px] mb-6 boxSkeletonWrap">
                            <div class="size-full" id="dashboardChart01"></div>
                        </div>
                        <div class="boxSkeletonWrap dashboardChart01ValPer">
                            <div class="w-1/2">
                                <p class="dc01ValPerTxt"><span>89.3</span>%</p>
                                <p class="dc01ValPerTxtPer up">+0.3pp</p>
                                <p class="dc01ValPerTxtDay">주중</p>
                            </div>
                            <div class="w-1/2">
                                <p class="dc01ValPerTxt"><span>10.7</span>%</p>
                                <p class="dc01ValPerTxtPer down">-0.3pp</p>
                                <p class="dc01ValPerTxtDay">주말</p>
                            </div>
                        </div>
                        <div class="reportTable boxSkeletonWrap">
                            <div class="tableDataDom" id="dashboardChart01Table"></div>
                        </div>
                    </div>
                    <div class="w-1/2 flex flex-col gap-5 max-md:w-full">
                        <div class="dashSection mb-0">
                            <div class="dashSectionTop">
                                <p class="dashSectionTitle">지난주 가맹점 현황</p>    
                            </div>
                            <div class="franchiseCard">
                                <div class="">
                                    <p class="franchiseCardTit">신규 가맹점 수</p>
                                    <p class="franchiseCardVal"><span>+23</span>건</p>
                                </div>
                                <div class="">
                                    <p class="franchiseCardTit">이탈 가맹점 수</p>
                                    <p class="franchiseCardVal"><span>-8</span>건</p>
                                </div>
                                <div class="mt-5">
                                    <p class="franchiseCardTit">주간 순증감</p>
                                    <p class="franchiseCardVal"><span>+15</span>건</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="dashSection mb-0 fixHeight">
                            <div class="dashSectionTop">
                                <p class="dashSectionTitle">거래 중단 알림</p>    
                                <p class="dashSectionSubTxt">최근 30일간 미거래 가맹점</p>
                            </div>
                            <div class="tradeSuspensionContent">
                                <div class="tradeSuspensionList ">
                                    <ul>
                                        <li class="noTrade48h">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">48시간 이상</p>
                                        </li>
                                        <li class="noTrade1m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">한 달 이상</p>
                                        </li>
                                        <li class="noTrade1m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">한 달 이상</p>
                                        </li>
                                        <li class="noTrade2m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">두 달 이상</p>
                                        </li>
                                        <li class="noTrade2m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간 르베지왕 여의도공간 르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">두 달 이상</p>
                                        </li>
                                        <li class="noTrade3m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                                        </li>
                                        <li class="noTrade3m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                                        </li>
                                        <li class="noTrade3m">
                                            <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                            <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tradeSuspensionListNull hidden">
                                    <p class="">거래 중단 상태의 가맹점이 없습니다!</p>
                                </div>
                            </div>
                            
                            <button type="button" onclick="window.location.href='/dashboard/tradeAlert'" class="grayLineBtn w-full text-sm/5 font-medium h-10 mt-6 rounded-full shadow-default">상세 보기</button>
                            
                        </div>
                    </div>
                </div>
                <div class="dashSection">
                    <div class="dashSectionTop">
                        <p class="dashSectionTitle">우리 대리점 업종별 매출액 비중</p>    
                        <p class="dashSectionSubTxt">전월기준</p>
                    </div>
                    <div class="flex justify-center items-center gap-12 mb-6 max-md:flex-col">
                        <div class="w-2/3 max-md:w-full chartBox h-[220px] boxSkeletonWrap">
                            <div class="size-full" id="dashboardChart02"></div>
                        </div>
                        <ul class="w-1/3 max-md:w-full dashboardChart03Legend mr-10 max-md:mr-0">
                            <li>
                                <p class="dashboardChart03LegendItemName">소매유통업</p>
                                <span class="dashboardChart03LegendVal">31%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">음식업</p>
                                <span class="dashboardChart03LegendVal">21%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">생활서비스업</p>
                                <span class="dashboardChart03LegendVal">17%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">의료서비스업</p>
                                <span class="dashboardChart03LegendVal">11%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">교육서비스</p>
                                <span class="dashboardChart03LegendVal">5%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">여가서비스</p>
                                <span class="dashboardChart03LegendVal">3%</span>
                            </li>
                            <li>
                                <p class="dashboardChart03LegendItemName">기타</p>
                                <span class="dashboardChart03LegendVal">2%</span>
                            </li>
                        </ul>
                    </div>
                    <p class="dashSectionTitle mb-6">월별 매출액 비중 변화</p>  
                    <div class="reportTable boxSkeletonWrap">
                        <div class="tableDataDom" id="dashboardChart02Table">
                            <table class="legend-table">
                                <thead>
                                  <tr>
                                      <th class="text-left">업종</th>
                                      <th class="text-right">7월</th>
                                      <th class="text-right">8월</th>
                                      <th class="text-right">증감폭</th>
                                </tr>
                                </thead>
                                <tbody>
                                  
                                    <tr>
                                      <td class="text-left">소매유통업</td>
                                      <td class="text-right">20.2%</td>
                                      <td class="text-right">20.2%</td>
                                      <td class="text-right !text-rose-500">+0.8 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">음식업</td>
                                      <td class="text-right">13.7%</td>
                                      <td class="text-right">13.7%</td>
                                      <td class="text-right !text-blue-500">-0.3 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">생활서비스업</td>
                                      <td class="text-right">20.2%</td>
                                      <td class="text-right">20.2%</td>
                                      <td class="text-right !text-rose-500">+1.2 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">의료서비스업</td>
                                      <td class="text-right">15.3%</td>
                                      <td class="text-right">15.3%</td>
                                      <td class="text-right !text-blue-500">-0.5 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">교육서비스업</td>
                                      <td class="text-right">17.4%</td>
                                      <td class="text-right">17.4%</td>
                                      <td class="text-right !text-rose-500">+1.1 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">여가서비스업</td>
                                      <td class="text-right">8.2%</td>
                                      <td class="text-right">8.2%</td>
                                      <td class="text-right !text-blue-500">-1.8 pp</td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="text-left">기타</td>
                                      <td class="text-right">4.9%</td>
                                      <td class="text-right">4.9%</td>
                                      <td class="text-right !text-blue-500">-0.5 pp</td>
                                    </tr>
                                  
                                </tbody>
                              </table>
                        </div>
                    </div>  
                </div>
                <div class="dashSection">
                    <div class="dashSectionTop">
                        <p class="dashSectionTitle">매출 집중도</p>    
                        <p class="dashSectionSubTxt">전월기준</p>
                    </div>
                    <div class="chartBox h-[220px] mb-6 boxSkeletonWrap">
                        <div class="size-full" id="dashboardChart03"></div>
                    </div>
                    <ul class="dashboardChart03Legend">
                        <li>
                            <p class="dashboardChart03LegendItemName">상위 5곳 매출</p>
                            <span class="dashboardChart03LegendVal">31%</span>
                        </li>
                        <li>
                            <p class="dashboardChart03LegendItemName">기타</p>
                            <span class="dashboardChart03LegendVal">69%</span>
                        </li>
                    </ul>
                    <p class="dashSectionTitle mt-12">매출 TOP5 가맹점</p>    
                    <ul class="dashboardChart03Top5List mt-6">
                        <li>
                            <div class="dashboardChart03Top5ListName">
                                <p class="">정남옥 노량진점</p>
                                <p class="">서울 동작구 노량진동</p>
                            </div>
                            <p class="dashboardChart03Top5ListVal">100,000,000원</p>
                        </li>
                        <li>
                            <div class="dashboardChart03Top5ListName">
                                <p class="">정남옥 노량진점정남옥 노량진점정남옥 노량진점정남옥 노량진점</p>
                                <p class="">서울 동작구 노량진동</p>
                            </div>
                            <p class="dashboardChart03Top5ListVal">100,000,000원</p>
                        </li>
                        <li>
                            <div class="dashboardChart03Top5ListName">
                                <p class="">정남옥 노량진점</p>
                                <p class="">서울 동작구 노량진동</p>
                            </div>
                            <p class="dashboardChart03Top5ListVal">100,000,000원</p>
                        </li>
                        <li>
                            <div class="dashboardChart03Top5ListName">
                                <p class="">정남옥 노량진점</p>
                                <p class="">서울 동작구 노량진동</p>
                            </div>
                            <p class="dashboardChart03Top5ListVal">100,000,000원</p>
                        </li>
                        <li>
                            <div class="dashboardChart03Top5ListName">
                                <p class="">정남옥 노량진점</p>
                                <p class="">서울 동작구 노량진동</p>
                            </div>
                            <p class="dashboardChart03Top5ListVal">100,000,000원</p>
                        </li>
                    </ul>
                </div>

                
                <div class="changeServiceBtn" onclick="location.href='/dashboard/changeService'">
                    <button type="button" class="primaryLineBtn h-9 px-3 rounded-full flex justify-center items-center gap-1 text-md/6 font-medium bg-white"><img src="/assets/images/icons/logout_icon.svg" class="size-4" alt="">서비스 변경</button>
                </div>
            </div>
            <div class="logoutBox pb-[140px] max-md:pb-0 max-md:mb-[140px] bg-zinc-100 max-md:!bg-white">
                <button type="button" class="grayLineBtn h-7 px-2 rounded-full text-xs/4 font-medium bg-white">로그아웃</button>
            </div>
        </div>
    </div>
    <!-- ============================== 스크립트 설정 ============================== -->
    <th:block th:replace="~{fragments/script :: script}" />
    <!-- ECharts 라이브러리 -->
    <script type="text/javascript" th:src="@{/assets/lib/echart/echarts.min.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/core/zinidata-echart.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/dashboard/dashboard.js}"></script>
</body>
</html> 