<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ============================== 헤드 설정 ============================== -->
    <th:block th:replace="~{fragments/head :: head}" />

    <!-- ============================== 페이지 전용 CSS 추가 ============================== -->
</head>

<body>
    <div class="wrap dashboardWrap dashSubWrap">
        <div class="dashboardContent">
            <div class="dashSubTop">
                <div class="backBtn" onclick="history.back()">
                    <img src="/assets/images/icons/back_arrow.svg" alt="">
                </div>
                <p class="dashSubTitle">매출 급등락 가맹점</p>
            </div>
            <div class="dashSubContent">
                <ul class="dashSubTopTab">
                    <li class="active">증가</li>
                    <li>감소</li>
                </ul>
                <div class="dashSubContentInner salesSurgeUp active">
                    <ul class="salesSurgeList ">
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">여가서비스업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점 정남옥 노량진점 정남옥 노량진점 정남옥 노량진점 정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">생활서비스업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">음식업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업 last</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                    </ul>
                    <div class="salesSurgeListNull hidden">
                        <p>지난달 매출이<br/>급증한 가맹점이 없습니다.</p>
                    </div>
                </div>
                <div class="dashSubContentInner salesSurgeDown">
                    <ul class="salesSurgeList">
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">여가서비스업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점 정남옥 노량진점 정남옥 노량진점 정남옥 노량진점 정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">생활서비스업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">음식업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                        <li>
                            <p class="salesSurgeCategory">소매유통업</p>
                            <div>
                                <p class="salesSurgeName">정남옥 노량진점</p>
                                <p class="salesSurgeVal">+160,000원</p>
                            </div>
                            <p class="salesSurgeArea">서울 동작구 노량진동</p>
                        </li>
                    </ul>
                    <div class="salesSurgeListNull hidden">
                        <p>지난달 매출이<br/>급감한 가맹점이 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
             <!-- ============================== 스크립트 설정 ============================== -->
    <th:block th:replace="~{fragments/script :: script}" />
    <script type="text/javascript" th:src="@{/assets/js/dashboard/salesSurge.js}"></script>
</body>
</html> 