<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ============================== 헤드 설정 ============================== -->
    <th:block th:replace="~{fragments/head :: head}" />

    <!-- ============================== 페이지 전용 CSS 추가 ============================== -->
</head>

<body>
    <div class="wrap dashboardWrap dashSubWrap">
        <div class="dashboardContent">
            <div class="dashSubTop">
                <div class="backBtn" onclick="history.back()">
                    <img src="/assets/images/icons/back_arrow.svg" alt="">
                </div>
                <p class="dashSubTitle">거래 중단 알림</p>
            </div>
            <div class="dashSubContent">
                <div class="tradeSuspensionContent">
                    <div class="tradeSuspensionListTit">
                        <p class="">가맹점명</p>
                        <p class="">거래 중단 일수</p>
                    </div>
                    <div class="tradeSuspensionList ">
                        <ul>
                            <li class="noTrade48h">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">48시간 이상</p>
                            </li>
                            <li class="noTrade1m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">한 달 이상</p>
                            </li>
                            <li class="noTrade1m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">한 달 이상</p>
                            </li>
                            <li class="noTrade2m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">두 달 이상</p>
                            </li>
                            <li class="noTrade2m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간 르베지왕 여의도공간 르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">두 달 이상</p>
                            </li>
                            <li class="noTrade3m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                            </li>
                            <li class="noTrade3m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                            </li>
                            <li class="noTrade3m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                            </li>
                            <li class="noTrade3m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간</p>
                                <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                            </li>
                            <li class="noTrade3m">
                                <p class="tradeSuspensionStoreName">르베지왕 여의도공간 last</p>
                                <p class="tradeSuspensionStoreStatus">세 달 이상</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tradeSuspensionListNull hidden">
                        <p class="">거래 중단 상태의 가맹점이 없습니다!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
             <!-- ============================== 스크립트 설정 ============================== -->
    <th:block th:replace="~{fragments/script :: script}" />
    <script type="text/javascript" th:src="@{/assets/js/dashboard/tradeAlert.js}"></script>
</body>
</html> 