/*update pop
업데이트시 팝업 css
*/

.update_pop{
    position: fixed;
    z-index: 999;
    left: 50%;
    top:50%;
    width: 800px;
    margin: 0 auto;
    height: calc(70vh);
    transform: translate(-50%,-50%);
    background-color:#fff;
    border-radius: 20px;
    padding: 24px;
    box-sizing: border-box;
    overflow: auto;
}

.upd_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upd_logo{
    height: 24px;
    width: 147px;
    background: url(../images/logo/logo.svg) no-repeat 0% 50%/contain;
}

.upd_body{
    padding-top:20px ;
    padding-bottom:20px ;
}

.upd_body h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.upd_body p{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #4E5867;
}

.upd_foot{
    width: 100%;
    display: flex;
    height: 120px;
    min-height: 120px;
    justify-content: space-between;
}
.upd_foot .ft_bx{
    width: calc(50% - 8px);
    background-color:rgba(248, 248, 248, 0.6);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.upd_foot .ft_bx p{
    font-weight: 700;
    font-size: 16px;
    color: #191F28;
}

.upd_foot .ft_bx p>span{
    font-weight: 500;
    color: #4E5867;
    font-size: 16px;
    line-height: 160%;
}

.upd_foot .ft_bx p a{
    color: #4E5867;
}

.upd_foot .ft_bx::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(../images/icons/ico_phone.svg) no-repeat 50% 50%/contain;
    margin-right: 20px;
}

.upd_foot .ft_bx.ft2::before{
    background: url(../images/icons/ico_mail.svg) no-repeat 50% 50%/contain;
}


/*
 * Loading Dots
 */

 .loading{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 36px auto;
    margin-top: 0;
 }
 .loading span {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: #66A2FF;
    border-radius: 999px;
    -webkit-animation: loading 1s infinite alternate;
            animation: loading 1s infinite alternate;
  }
  
  /*
   * Dots Colors
   */
  .loading span:nth-of-type(2) {
    background: #66A2FF;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .loading span:nth-of-type(3) {
    background: #66A2FF;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .loading span:nth-of-type(4) {
    background: #66A2FF;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .loading span:nth-of-type(5) {
    background: #66A2FF;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .loading span:nth-of-type(6) {
    background: #66A2FF;
    -webkit-animation-delay: 1.0s;
            animation-delay: 1.0s;
  }
  .loading span:nth-of-type(7) {
    background: #66A2FF;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  
  /*
   * Animation keyframes
   */
  @-webkit-keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*
  * media query
  */
  
  @media all and (min-width: 1024px){
    .update_pop{
        height: calc(80vh);
    }
    .brsmall{
        display: none;
    }
  }
  @media all and (max-width: 1023px){
    .brsmall{
        display: none;
    }
  }
  @media all and (max-width: 820px){
    .update_pop{
        width: 720px;
    }
  }
  @media all and (max-width: 768px){
    
    .update_pop{
        width: 100%;
        height: 100vh;
        /*height: calc(var(--vh, 1vh) * 100);*/
        border-radius: 0;
        top: 0;
        left: 0;
        transform: translate(0);
        padding: 16px;
    }
    
    .upd_foot{
        display: flex;
        flex-direction: column;
        height: fit-content;
        min-height: auto;
    }

    .upd_foot .ft_bx{
        width: 100%;
        margin-bottom: 20px;
    }

    .upd_body{
        padding-top: 40px;
        padding-bottom: 60px;  
    }

    .loading{
        margin-top: 36px;
    }

    .loading span{
        width: 10px;
        height: 10px;
    }

  }
  @media all and (max-width: 480px){
    
    .upd_body h3{
        font-size: 22px;
    }
    .upd_body p{
        font-size: 14px;
        line-height: 180%;
    }
    .upd_foot .ft_bx p>span{
        font-size: 14px;
    }
    .upd_logo{
        height: 20px;
    }
  }
  @media all and (max-width: 340px){
    .upd_body p{
        font-size: 13px;
    }
  }
  @media all and (max-width: 320px){
    
    .upd_body h3{
        font-size: 18px;
    }
    .upd_foot .ft_bx p{
        font-size: 14px;
    }
    .upd_foot .ft_bx{
        padding: 16px;
    }
    .brsmall{
        display: block;
    }
  }