<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<body>
  <!-- ✅ layout의 content에 꽂힘 -->
  <section layout:fragment="content">
    <div class="w-1/2 mx-auto">
      <div th:replace="~{components/search :: typingSearch}"></div>
    </div>

    <div th:replace="~{components/table :: table}"></div>
    <div th:replace="~{components/pagination :: pagination}"></div>
    <div th:replace="~{components/calendar :: calendarDay}"></div>
  </section>


  <!-- <th:block layout:fragment="pageScripts">
    <script src="/assets/js/pages/home.js"></script>
  </th:block> -->
</body>
</html>
