<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<body>
  <!-- ✅ layout의 content에 꽂힘 -->
  <section layout:fragment="content">
    <!-- <div class="mapHeader">
      <th:block th:replace="~{fragments/header :: menuHeader}" />
    </div> -->
    <div class="mapBox headerMap">
        <div class="mapTopSearch">
            <div th:replace="~{components/search :: typingSearch}"></div>
        </div>
      <div class="map" id="mapContainer">
      </div>
    </div>

    <div id="sheet">
        <div class="mapReSearch"><img src="/assets/images/icons/map_research_icon.svg" alt=""></div>
        <div class="sheetHeader">
            <!--리스트 # 탭-->
            <div class="sheetTab ">
                <ul>
                    <li class="active">전체</li>
                    <li>신규 설치</li>
                    <li>A/S</li>
                </ul>
            </div>

            <!--상세 # 뒤로가기-->
            <div class="sheetBack hidden">
                <div class="sheetBackBtn"><img src="/assets/images/icons/back_arrow_gray.svg" class="size-10" alt=""></div>
                <p class="">요청 상세 보기</p>
            </div>
        </div>
        <div class="sheetContent detailShow">
            
            <!--리스트-->
            <div class="sheetInner ">
                <div class="flexBetween">
                    <p class="text-xl/7 font-bold text-zinc-800">요청 둘러보기</p>
                    <select name="" id="requestListBoxOdr" class="selectBox">
                        <option value="최신 순" data-order="crtDt">최신 순</option>
                        <option value="거리 순" data-order="distance">거리 순</option>
                        <option value="금액 높은 순" data-order="payAmt">금액 높은 순</option>
                    </select>
                </div>
                <div class="sheetListNull">
                    <div class="">
                        <img src="/assets/images/icons/request_null.svg" class="size-6 mb-2-5 m-auto" alt="">
                        <p class="text-sm/5 text-zinc-400">이 주변에 등록된 요청이 없습니다.<br/>
                            지도를 이동해 다른 지역을 둘러보세요.</p>
                    </div>
                </div>
                <div class="sheetList" id="requestListBox">
                </div>
            </div>
        </div>
    </div>
    
  </section>


  <th:block layout:fragment="pageScripts">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=33poukh5ab&submodules=geocoder"></script>
    <script type="text/javascript" th:src="@{/assets/js/common/map-common.js(v=${@environment.getProperty('app.version')})}"></script>
    <script type="text/javascript" th:src="@{/assets/js/requests/map.js(v=${@environment.getProperty('app.version')})}"></script>
    <script type="text/javascript" th:src="@{/assets/js/requests/map-marker.js(v=${@environment.getProperty('app.version')})}"></script>
    <script src="/assets/js/map.js"></script>
  </th:block>
</body>
</html>
