<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<body>
  <!-- ✅ layout의 content에 꽂힘 -->
  <section layout:fragment="content">
    <div class="mapHeader">
      <th:block th:replace="~{fragments/header :: menuHeader}" />
    </div>
    <div class="mapBox headerMap">
      <div class="map" id="mapContainer">
      </div>
    </div>

    <div id="sheet">
        <div class="mapReSearch"><img src="/assets/images/icons/map_research_icon.svg" alt=""></div>
        <div class="sheetHeader">
            <!--리스트 # 탭-->
            <div class="sheetTab ">
                <ul>
                    <li class="active">전체</li>
                    <li>신규 설치</li>
                    <li>A/S</li>
                </ul>
            </div>

            <!--상세 # 뒤로가기-->
            <div class="sheetBack hidden">
                <div class="sheetBackBtn"><img src="/assets/images/icons/back_arrow_gray.svg" class="size-10" alt=""></div>
                <p class="">요청 상세 보기</p>
            </div>
        </div>
        <div class="sheetContent detailShow">
            
            <!--리스트-->
            <div class="sheetInner ">
                <div class="flexBetween">
                    <p class="text-xl/7 font-bold text-zinc-800">요청 둘러보기</p>
                    <select name="" id="requestListBoxOdr" class="selectBox">
                        <option value="최신 순" data-order="crtDt">최신 순</option>
                        <option value="거리 순" data-order="distance">거리 순</option>
                        <option value="금액 높은 순" data-order="payAmt">금액 높은 순</option>
                    </select>
                </div>
                <div class="sheetListNull">
                    <div class="">
                        <img src="/assets/images/icons/request_null.svg" class="size-6 mb-2-5 m-auto" alt="">
                        <p class="text-sm/5 text-zinc-400">이 주변에 등록된 요청이 없습니다.<br/>
                            지도를 이동해 다른 지역을 둘러보세요.</p>
                    </div>
                </div>
                <div class="sheetList" id="requestListBox">
                </div>
            </div>

            <!--상세-->
            <div class="sheetDetail asDetail hidden">
                <div class="sheetDetailContent">
                    <p class="checkBadge installBadge mb-1 serviceGb0 hidden">신규 설치</p>
                    <p class="checkBadge asBadge mb-1 serviceGb1 hidden">A/S</p>
                    <p class="text-lg/7 font-bold text-zinc-800 installNm"></p>
                    <div class="flexBetween !items-start">
                        <p class="areaCopyTxt installAddr"></p>
                        <button type="button" class="btn areaCopyBtn flex justify-content items-center gap-0-5 text-sm/5 font-medium text-zinc-500 w-[80px]"><img src="/assets/images/icons/file_icon_gray.svg" class="size-4" alt="">주소복사</button>
                    </div>
                    <div class="flexBetween pt-4 mt-4 border-t-1 border-solid border-t-zinc-100">
                        <p class="text-sm/5 font-medium text-zinc-400">제안금액</p>
                        <p class="text-lg/7 font-bold priceText payAmt"></p>
                    </div>
                </div>
                <!--설치만 해당 ST-->
                <div class="sheetDetailContent serviceGb0 hidden">
                    <p class="sheetDetailTitle">요청 내용</p>
                    <div class="grayBox">
                        <p class="serviceContent"></p>
                    </div>
                </div>
                <!--설치만 해당 ED-->
                <!--A/S만 해당 ST-->
                <div class="sheetDetailContent serviceGb1 hidden">
                    <p class="sheetDetailTitle">문제 증상</p>
                    <div>
                        <ul class="subInfoList">
                            <li>
                                <p class="subInfoListTitle">사용 단말기</p>
                                <p class="subInfoListTxt vanId"></p>
                            </li>
                        </ul>
                        <div class="grayBox mt-4">
                            <p class="serviceContent"></p>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm/5 font-medium text-zinc-400 mt-4">문제 증상 사진</p>
                        <div class="fileList symptom mt-2"></div>
                    </div>  
                </div>
                <!--A/S만 해당 ED-->
                <div class="sheetDetailContent relative">
                    <a href="tel:" class="callBtn" id="callRequesterBtn">
                        <img src="/assets/images/icons/call_icon.svg" class="size-4-5" alt="">
                        <p>요청자에게 문의</p>
                    </a>
                    <p class="sheetDetailTitle">요청자 정보</p>
                    <ul class="subInfoList">
                        <li>
                            <p class="subInfoListTitle">요청자 이름</p>
                            <p class="subInfoListTxt crtName"></p>
                        </li>
                        <li>
                            <p class="subInfoListTitle">대리점 연락처</p>
                            <p class="subInfoListTxt storeCallNumber"></p>
                        </li>
                        <li>
                            <p class="subInfoListTitle">휴대폰 번호</p>
                            <p class="subInfoListTxt crtPhoneNumber"></p>
                        </li>
                        <li>
                            <p class="subInfoListTitle">요청일</p>
                            <p class="subInfoListTxt strCrtDt"></p>
                        </li>
                    </ul>
                </div>
                <div class="sheetBottom">
                    <button type="button" class="btn text-white w-full h-12 rounded-full text-md/6 font-medium" id="requestExecuteBtn">수락하기</button>
                </div>
            </div>
        </div>
    </div>
    
  </section>


  <th:block layout:fragment="pageScripts">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=33poukh5ab&submodules=geocoder"></script>
    <script type="text/javascript" th:src="@{/assets/js/common/map-common.js(v=${@environment.getProperty('app.version')})}"></script>
    <script type="text/javascript" th:src="@{/assets/js/requests/map.js(v=${@environment.getProperty('app.version')})}"></script>
    <script type="text/javascript" th:src="@{/assets/js/requests/map-marker.js(v=${@environment.getProperty('app.version')})}"></script>
    <script src="/assets/js/map.js"></script>
  </th:block>
</body>
</html>
