<!-- ============================== 요청 등록 / as 페이지 ============================== -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ============================== 헤드 설정 ============================== -->
    <th:block th:replace="~{fragments/head :: head}" />

    <!-- ============================== 페이지 전용 CSS 추가 ============================== -->
</head>

<body>
<div class="wrap">
    <!-- ============================== 메인 컨텐츠 설정 ============================== -->
    <!-- ============================== 헤더 설정 ============================== -->
    <th:block th:replace="~{fragments/header :: mainHeader}" />

    <div class="installContent scrollBox">
        <div class="tabBox">
            <ul class="tabButton">
                <li onclick="location.href='/requests/install'">신규 설치</li>
                <li class="active">A/S</li>
            </ul>
        </div>
        <div class="subPageContent">
            <form id="requestAsForm">
            <section>
                <p class="sectionTitle">요청자 정보</p>
                <div class="inputBox">
                    <p class="inputLabel">요청자 이름</p>
                    <input type="text" class="inputCustom" id="crtName" placeholder="요청자 이름을 적어주세요.">
                </div>
                <div class="inputBox">
                    <p class="inputLabel">휴대폰 번호</p>
                    <div class="formCheck">
                        <div class="flexBetween gap-2">
                            <input type="tel" class="inputCustom h-12 w-[calc(100%-92px)]" maxlength="11" id="phone" placeholder="휴대폰 번호를 입력해주세요"/>
                            <button type="button" class="softBtn btn w-[92px] h-12 text-base/6 font-medium" id="cert">인증하기</button>
                        </div>
                    </div>
                    <div class="pt-2 formCheck verifyCode hidden">
                        <div class="flexBetween gap-2">
                            <div class="relative w-[calc(100%-92px)]">
                                <input type="tel" class="inputCustom numberValue w-full h-12 pr-[64px]" id="verifyCode" placeholder="인증번호를 입력해주세요"/>
                                <span class="certTime time"></span>
                            </div>
                            <button type="button" class="primaryLineBtn w-[92px] h-12 text-base/6 font-medium" id="getCert">인증 확인</button>
                        </div>
                    </div>
                </div>
                <div class="inputBox">
                    <p class="inputLabel">대리점 연락처</p>
                    <input type="tel" class="inputCustom" id="storeCallNumber" placeholder="대리점 연락처를 적어주세요.">
                </div>
            </section>
            <section>
                <p class="sectionTitle">요청 내용</p>
                <div class="inputBox">
                    <p class="inputLabel">사용 단말기 <span>(선택)</span></p>
                    <input type="text" class="inputCustom" id="vanId" placeholder="사용중인 단말기의 모델명을 적어주세요.">
                </div>
                <div class="inputBox">
                    <p class="inputLabel">문제 증상</p>
                    <textarea name="" id="serviceContent" class="inputCustom py-3-5 min-h-[120px]" placeholder="문제 증상을 적어주세요."></textarea>
                </div>
            </section>
            <section>
                <div class="flexBetween">
                    <p class="sectionTitle">문제 증상 사진 첨부 <span>(선택)</span></p>
                    <p class="text-sm/5 text-zinc-400">최대 3개 등록</p>
                </div>

                <div class="photoUploader">
                    <div class="photo-uploader">
                        <ul id="fileList" class="photoList"></ul>
                        <button id="btnAdd" type="button" class="btn grayLineBtn py-3 px-4 flexCenter gap-1-5 text-md/6 font-medium text-primary-600 w-full"><img src="/assets/images/icons/plus_blue_icon.svg" alt=""> 사진 추가</button>
                        <input id="fileInput" type="file" accept="image/*" multiple hidden>                        
                    </div>
                </div>
            </section>
            <section>
                <p class="sectionTitle">설치 가맹점 정보</p>
                <input type="text" class="inputCustom mb-2" id="installNm" placeholder="가맹점명을 입력해주세요">
                <div class="storeAddress cursor-pointer">
                    <input type="text" class="inputCustom pointer-events-none pr-[42px]" id="address" placeholder="주소 입력">
                </div>
                <div class="storeDetailAddress mt-2">
                    <input type="text" class="inputCustom pointer-events-none" id="addressDetail" placeholder="상세주소">
                </div>
                <div class="hidden">
                    <input type="text" class="" id="centerX">
                    <input type="text" class="" id="centerY">
                </div>
            </section>
            <section>
                <p class="sectionTitle">제안 금액 (원)</p>
                <input type="number" class="inputCustom" id="payAmt" placeholder="제안하실 금액을 입력해주세요">
            </section>
            </form>
        </div>
        
        <div class="subPageBottom px-6 pt-12 pb-6">
            <button type="button" class="btn primaryBtn w-full rounded-full py-3 px-4 text-md/6 font-medium " id="asDoneBtn">A/S 요청 등록</button>
        </div>
    </div>

    <!--가맹점 찾는 팝업 ST-->
    <div class="storeListModal modalLayout">
        <div class="requestModalWrap">
            <div class="requestModalTop">
                <p class="text-base/6 font-bold text-zinc-800">가맹점 선택</p>
                <button class="modalClose" type="button"><img src="/assets/images/icons/remove_dark_icon.svg" class="size-5" alt=""></button>
            </div>
            <div class="requestModalContent">
                <div class="storeList">
                    <ul class="storeListUl">
                        <li>
                            <p class="">OO카페 여의도점01</p>
                            <span class="">서울시 영등포구 은행로 30 1층</span>
                        </li>
                        <li>
                            <p class="">OO카페 여의도점02</p>
                            <span class="">서울시 영등포구 은행로 30 1층</span>
                        </li>
                        <li>
                            <p class="">OO카페 여의도점03</p>
                            <span class="">서울시 영등포구 은행로 30 1층</span>
                        </li>
                        <li>
                            <p class="">OO카페 여의도점04</p>
                            <span class="">서울시 영등포구 은행로 30 1층</span>
                        </li>
                        <li>
                            <p class="">OO카페 여의도점05</p>
                            <span class="">서울시 영등포구 은행로 30 1층</span>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="modalBg"></div>
    </div>
    <!--가맹점 찾는 팝업 ED-->


    <!--요청 등록 완료 팝업 ST-->
    <div class="doneModal modalLayout">
        <div class="alertModalContent">
            <div class="p-2-5 mb-4 text-center">
                <div class="size-14 mb-3 mx-auto"><img src="/assets/images/icons/done_icon.svg" class="size-full" alt=""></div>
                <p class="alertModalContentText01">요청이 정상 등록되었습니다.</p>
                <p class="alertModalContentText02"><span>[내 활동 > 요청 내역]</span>에서 확인해주세요.</p>
            </div>
            <button type="button" class="btn primaryBtn h-10 w-full rounded-full px-4 text-md/6 font-medium" onclick="location.href='/requests/request-history'">확인</button>
        </div>
        <div class="doneModalBg"></div>
    </div>
    <!--요청 등록 완료 팝업 ED-->

    <!--가맹점 없을때 에러 팝업 ST-->
    <div class="errorStoreModal modalLayout ">
        <div class="alertModalContent">
            <div class="p-2-5 mb-4 text-center">
                <div class="size-14 mb-3 mx-auto"><img src="/assets/images/icons/error_icon02.svg" class="size-full" alt=""></div>
                <p class="alertModalContentText01">등록된 가맹점이 없어<br/>
                    A/S 요청을 진행할 수 없습니다.</p>
                <p class="alertModalContentText02">
                    <span>NVAN 가맹점 신청</span>을 먼저 완료해주세요.<br/>
                    신규 설치 요청일 경우에는<br/>
                    상단의 요청 유형을 '신규 설치'로 수정해주세요.
                </p>
            </div>
            <button type="button" class="btn grayLineBtn h-10 w-full rounded-full px-4 text-md/6 font-medium close">닫기</button>
        </div>
        <div class="modalBg"></div>
    </div>
    <!--가맹점 없을때 에러 팝업 ED-->

    <!-- 요청 등록 취소 팝업 ST-->
    <div class="errorRequestModal modalLayout">
        <div class="alertModalContent">
            <div class="p-2-5 mb-4 text-center">
                <div class="size-14 mb-3 mx-auto"><img src="/assets/images/icons/error_icon.svg" class="size-full" alt=""></div>
                <p class="alertModalContentText01">정말 요청 등록을 취소할까요?</p>
                <p class="alertModalContentText02">입력 중인 내용이 저장되지 않습니다.<br/>취소하시겠습니까?</p>
            </div>
            <div class="flexBetween gap-2">
                <button type="button" class="btn grayLineBtn h-10 w-full rounded-full px-4 text-md/6 font-medium text-rose-600">등록 취소</button>
                <button type="button" class="btn grayLineBtn h-10 w-full rounded-full px-4 text-md/6 font-medium close">닫기</button>
            </div>
        </div>
        <div class="modalBg"></div>
    </div>
    <!-- 요청 등록 취소 팝업 ED-->
</div>


<!-- ============================== 스크립트 설정 ============================== -->
<th:block th:replace="~{fragments/script :: script}" />
<script src="/assets/js/requests/requests.js"></script>
</body>
</html> 