<!-- ============================== 수행내역 페이지 ============================== -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- ============================== 헤드 설정 ============================== -->
    <th:block th:replace="~{fragments/head :: head}" />

    <!-- ============================== 페이지 전용 CSS 추가 ============================== -->
  </head>

  <body>
    <div class="wrap">
      <!-- ============================== 메인 컨텐츠 설정 ============================== -->
      <!-- ============================== 헤더 설정 ============================== -->
      <th:block th:replace="~{fragments/header :: mainHeader}" />
      <div class="tabLineBox">
        <ul class="tabLineButton">
          <li onclick="location.href='/requests/request-history'">요청 내역</li>
          <li class="active">수행 내역</li>
        </ul>
      </div>
      <div class="installContent scrollBox pt-10">
        <div class="sheetTab subSheetTab">
          <ul class="overflow-auto" id="filterStatus">
            <li data-gb="99">전체</li>
            <li class="active" data-gb="1">수행중</li>
            <li data-gb="2">수행완료</li>
            <li data-gb="3">처리완료</li>
          </ul>
        </div>
        <div class="subPageContent bg-zinc-50">
          <div class="historySearchBox px-5 pt-5">
            <input type="search" class="inputCustom" placeholder="검색어 입력" />
          </div>
          <div class="historyContent">
            <div class="flexBetween mb-1">
              <p class="setData text-sm/5 font-medium text-zinc-500"></p>
              <select class="selectBox">
                <option value="최신 순" name="crtDt">최신 순</option>
                <option value="거리 순" name="distance">거리 순</option>
                <option value="금액 높은 순" name="payAmt">금액 높은 순</option>
              </select>
            </div>

            <!-- <div class="historyNull">
                        <div>
                            <img src="/assets/images/icons/history_null.svg" class="size-6 mb-2 m-auto" alt="">
                            <p class="historyNullText">검색된 내역이 없습니다.</p>
                        </div>
                    </div> -->
            <!--수행 내역-->
            <div class="listChangeContent">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================== 스크립트 설정 ============================== -->
    <th:block th:replace="~{fragments/script :: script}" />
    <script src="/assets/js/requests/work-history.js"></script>
  </body>
</html>
